In [1]:
from pandas import DataFrame, Series #pandas로 부터 DateFrame, Series 라이브러리 불러오기
import pandas as pd #pandas는 pd라는 이름으로 셀에서 사용
import json

### 예제 1 
mydata.csv로부터 데이터를 읽어 frame 변수에 저장 및 출력하시오.<br>
(단, 1, 5, 9 값은 NaN 값으로 표시되도록 하시오.)

### 예제 2 
예제 1에서 읽어온 frame 데이터를 다음과 같이 변환하여 'score.csv'로 저장하시오.
* column명을 'math', 'eng', 'science'으로 변경
* NaN 값은 0으로 변경
* 'sum' 컬럼을 생성하고 각 행의 math, eng, science 합을 계산하여 입력<br>
(한글 포함 시 인코딩 문제가 있을 수 있으므로 encoding = "utf-8"을 입력 해야함)

### 예제 3
예제 2에서 생성한 score.csv파일을 읽어서 출력해 보시오.<br>
(단, 첫번째 컬럼이 index가 되도록 하시오. <br>
 별도 인자없이 읽어올 경우 index가 새롭게 추가됨 )

### 예제 4
다음 Json 데이터를 파이썬 객체로 읽어서 GML 값만 출력해 보시오. <br>
( GlossDef-GlossSeeAlso-GML )

In [9]:
# 예제 4
json_obj = """
{
    "ID": "SGML",
    "SortAs": "SGML",
    "GlossTerm": "Standard Generalized Markup Language",
    "Acronym": "SGML",
    "Abbrev": "ISO 8879:1986",
    "GlossDef": [{"para": "A meta-markup language, used to create markup languages such as DocBook."},
                 {"GlossSeeAlso": ["GML", "XML"]}]
}
"""

### 예제 5
http://finance.yahoo.com/q/op?s=AAPL+Options 에서 span 객체의 내용을 모두 출력하시오.

In [10]:
from lxml.html import parse
from urllib.request import urlopen

### 예제 6
다음 xml에서 'INDICATOR_SEQ', 'PERIOD_YEAR', 'PERIOD_MONTH', 'CATEGORY' 4개 필드만 선택하여 출력하시오.<br>
(금일 파이썬 강의 자료의 'lxml.objectify 이용해 XML 파싱하기' 참고 및 활용)

In [11]:
%%writefile data/Performance_MNR.xml
<INDICATOR>
    <INDICATOR_SEQ>373889</INDICATOR_SEQ>
    <PARENT_SEQ></PARENT_SEQ>
    <AGENCY_NAME>MEtro-North Railroad</AGENCY_NAME>
    <INDICATOR_NAME>Escalator Availability</INDICATOR_NAME>
    <DESCRIPTION>Percent of the time that escalators are operational systemwide. The availability rate is based on physical observations performed the morning of regular business days only. This is a new indicator the agency began reporting in 2009.</DESCRIPTION>
    <PERIOD_YEAR>2011</PERIOD_YEAR>
    <PERIOD_MONTH>12</PERIOD_MONTH>
    <CATEGORY>Service Indicators</CATEGORY>
    <FREQUENCY>M</FREQUENCY>
    <DESIRED_CHANGE>U</DESIRED_CHANGE>
    <INDICATOR_UNIT>%</INDICATOR_UNIT>
    <DECIMAL_PLACES>1</DECIMAL_PLACES>
    <YTD_TARGET>97.00</YTD_TARGET>
    <YTD_ACTUAL></YTD_ACTUAL>
    <MONTHLY_TARGET>97.00</MONTHLY_TARGET>
    <MONTHLY_ACTUAL></MONTHLY_ACTUAL>
</INDICATOR>

Overwriting data/Performance_MNR.xml

In [12]:
from lxml import objectify
import urllib

### 예제 7
(sqlite3 연습) subject Table을 만든 후 임시 데이터를 삽입하고 데이터프레임으로 가져오는 과정을 수행하시오.<br>
( subject Table에는 math, eng, sci 컬럼이 존재하며 세개 모두 INTEGER 타입 )

In [13]:
import sqlite3  # 파이썬에서 데이터베이스 이용할 수 있게 해주는 sqlite3를 사용
con = sqlite3.connect(':memory:') # 괄호안에는 사용할 db파일을 넣기도하는데 여기서는 메모리에서 사용한다(임시 db)

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br>

In [14]:
#### 1번
frame = pd.read_csv("data/mydata.csv", sep=";", na_values=[1,5,9])
frame

   one  two  three
0  NaN  2.0    3.0
1  4.0  NaN    6.0
2  7.0  8.0    NaN

In [15]:
#### 2번
frame.columns = ['math', 'eng', 'science']
frame[frame.isnull()] = 0
frame['합'] = frame.sum(axis=1)
frame.to_csv('data/score.csv', encoding = "utf-8")

In [16]:
print(frame)

   math  eng  science     합
0   0.0  2.0      3.0   5.0
1   4.0  0.0      6.0  10.0
2   7.0  8.0      0.0  15.0

In [17]:
#### 3번
frame2 = pd.read_csv("data/score.csv", index_col=[0])
frame2

   math  eng  science     합
0   0.0  2.0      3.0   5.0
1   4.0  0.0      6.0  10.0
2   7.0  8.0      0.0  15.0

In [18]:
#### 4번
result = json.loads(json_obj)
print(result['GlossDef'][1]['GlossSeeAlso'][0])

GML

In [19]:
#### 5번
parsed = parse(urlopen('http://finance.yahoo.com/q/op?s=AAPL+Options'))
doc = parsed.getroot()
links = doc.findall('.//span')
print(len(links))
lik = [ val.text_content() for val in links ]
lik

207

['More',
 '0',
 'U.S. Markets closed',
 'U.S. Markets closed',
 '2,457.85',
 '-18.70 (-0.76%)',
 '21,753.31',
 '-234.25 (-1.07%)',
 'NasdaqGS - NasdaqGS Delayed Price. Currency in USD',
 'Add to watchlist',
 'Add to watchlist',
 '162.08',
 '-1.97 (-1.20%)',
 'At close:  4:00PM EDT',
 '162.03',
 '-0.05 (-0.03%)',
 '-0.05 (-0.03%)',
 'After hours:',
 'People also watch',
 'People also watch',
 'Summary',
 'Conversations',
 'Statistics',
 'Profile',
 'Financials',
 'Options',
 'Holders',
 'Historical Data',
 'Analysts',
 'In The Money',
 'Show:',
 'Show',
 'List',
 'List',
 'Straddle',
 'Calls',
 'Calls',
 'for',
 'for',
 'September 8, 2017',
 'Contract Name',
 'Last Trade Date',
 'Strike',
 'Last Price',
 'Bid',
 'Ask',
 'Change',
 '% Change',
 'Volume',
 'Open Interest',
 'Implied Volatility',
 '-3.12',
 '-7.07%',
 '+0.98',
 '+3.26%',
 '+2.74',
 '+10.37%',
 '0.00',
 '-',
 '0.00',
 '-',
 '0.00',
 '-',
 '0.00',
 '-',
 '-0.83',
 '-4.82%',
 '0.00',
 '-',
 '0.00',
 '-',
 '0.00',
 '-',
 '+0.88',
 '+5.77%',
 '+1.51',
 '+11.08%',
 '-1.96',
 '-13.95%',
 '-2.05',
 '-17.60%',
 '-1.94',
 '-21.30%',
 '-1.95',
 '-29.06%',
 '-1.66',
 '-37.81%',
 '-1.23',
 '-52.34%',
 '-0.61',
 '-64.21%',
 '-0.22',
 '-68.75%',
 '-0.09',
 '-69.23%',
 '-0.03',
 '-50.00%',
 '-0.02',
 '-50.00%',
 '-0.01',
 '-33.33%',
 '-0.01',
 '-50.00%',
 '-0.01',
 '-50.00%',
 '0.00',
 '-',
 '0.00',
 '-',
 '0.00',
 '-',
 'Puts',
 'Puts',
 'for',
 'for',
 'September 8, 2017',
 'Contract Name',
 'Last Trade Date',
 'Strike',
 'Last Price',
 'Bid',
 'Ask',
 'Change',
 '% Change',
 'Volume',
 'Open Interest',
 'Implied Volatility',
 '0.00',
 '-',
 '0.00',
 '-',
 '0.00',
 '-',
 '0.00',
 '-',
 '0.00',
 '-',
 '0.00',
 '-',
 '0.00',
 '-',
 '-0.01',
 '-50.00%',
 '-0.01',
 '-50.00%',
 '+0.01',
 '+50.00%',
 '-0.02',
 '-66.67%',
 '-0.01',
 '-33.33%',
 '-0.02',
 '-66.67%',
 '-0.01',
 '-33.33%',
 '-0.01',
 '-33.33%',
 '0.00',
 '-',
 '-0.01',
 '-25.00%',
 '0.00',
 '-',
 '-0.01',
 '-14.29%',
 '+0.03',
 '+37.50%',
 '+0.07',
 '+46.67%',
 '+0.23',
 '+74.19%',
 '+0.68',
 '+88.31%',
 '+1.24',
 '+65.61%',
 '+1.70',
 '+45.33%',
 '+1.96',
 '+32.40%',
 '+1.05',
 '+11.93%',
 '-0.35',
 '-2.92%',
 '+1.50',
 '+10.53%',
 '+0.20',
 '+1.27%',
 '0.00',
 '-',
 '0.00',
 '-',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'Yahoo Small Business',
 'Data Disclaimer',
 'Help',
 'Suggestions',
 'Privacy',
 'About Our Ads',
 'Terms (Updated)',
 '',
 '']

In [20]:
#### 6번
path = 'data/Performance_MNR.xml'

# objectify를 이용해서 파일 파싱
parsed = objectify.parse(open(path))
root = parsed.getroot()
data = []
select_fields = ['INDICATOR_SEQ', 'PERIOD_YEAR',
               'PERIOD_MONTH', 'CATEGORY']

for elt in root:
    el_data = {}
    for child in elt.getchildren():
        if child.tag in select_fields:
            el_data[child.tag] = child.pyval
    data.append(el_data)

data

[{'CATEGORY': 'Service Indicators',
  'INDICATOR_SEQ': 373889,
  'PERIOD_MONTH': 12,
  'PERIOD_YEAR': 2011}]

In [21]:
#### 7번
query = """
    CREATE TABLE subject
    (math INTEGER,
     eng INTEGER,
     sci INTEGER
    );
"""

con.execute(query) #실행할 쿼리문이 괄호안에 들어간다.
con.commit()  #트랜잭션 변경내용을 db에 반영

data = [(15, 40, 20),
       (80, 30, 100),
       (90, 80, 70)]

stmt = "INSERT INTO subject VALUES(?, ?, ?)"

con.executemany(stmt, data)
con.commit()

cursor = con.execute('select * from subject')
rows = cursor.fetchall()
DataFrame(rows, columns=['math', 'eng', 'sci'])

   math  eng  sci
0    15   40   20
1    80   30  100
2    90   80   70