In [1]:
import numpy as np
import pandas as pd

## Load Dataset

In [7]:
train = pd.read_csv("train.csv")
train.shape
train.columns

Index(['datetime', 'season', 'holiday', 'workingday', 'weather', 'temp',
       'atemp', 'humidity', 'windspeed', 'casual', 'registered', 'count'],
      dtype='object')

In [8]:
train.head

<bound method NDFrame.head of                   datetime  season  holiday  workingday  weather   temp  \
0      2011-01-01 00:00:00       1        0           0        1   9.84
1      2011-01-01 01:00:00       1        0           0        1   9.02
2      2011-01-01 02:00:00       1        0           0        1   9.02
3      2011-01-01 03:00:00       1        0           0        1   9.84
4      2011-01-01 04:00:00       1        0           0        1   9.84
5      2011-01-01 05:00:00       1        0           0        2   9.84
6      2011-01-01 06:00:00       1        0           0        1   9.02
7      2011-01-01 07:00:00       1        0           0        1   8.20
8      2011-01-01 08:00:00       1        0           0        1   9.84
9      2011-01-01 09:00:00       1        0           0        1  13.12
10     2011-01-01 10:00:00       1        0           0        1  15.58
11     2011-01-01 11:00:00       1        0           0        1  14.76
12     2011-01-01 12:00:00       1        0           0        1  17.22
13     2011-01-01 13:00:00       1        0           0        2  18.86
14     2011-01-01 14:00:00       1        0           0        2  18.86
15     2011-01-01 15:00:00       1        0           0        2  18.04
16     2011-01-01 16:00:00       1        0           0        2  17.22
17     2011-01-01 17:00:00       1        0           0        2  18.04
18     2011-01-01 18:00:00       1        0           0        3  17.22
19     2011-01-01 19:00:00       1        0           0        3  17.22
20     2011-01-01 20:00:00       1        0           0        2  16.40
21     2011-01-01 21:00:00       1        0           0        2  16.40
22     2011-01-01 22:00:00       1        0           0        2  16.40
23     2011-01-01 23:00:00       1        0           0        2  18.86
24     2011-01-02 00:00:00       1        0           0        2  18.86
25     2011-01-02 01:00:00       1        0           0        2  18.04
26     2011-01-02 02:00:00       1        0           0        2  17.22
27     2011-01-02 03:00:00       1        0           0        2  18.86
28     2011-01-02 04:00:00       1        0           0        2  18.86
29     2011-01-02 06:00:00       1        0           0        3  17.22
...                    ...     ...      ...         ...      ...    ...
10856  2012-12-18 18:00:00       4        0           1        1  15.58
10857  2012-12-18 19:00:00       4        0           1        1  15.58
10858  2012-12-18 20:00:00       4        0           1        1  14.76
10859  2012-12-18 21:00:00       4        0           1        1  14.76
10860  2012-12-18 22:00:00       4        0           1        1  13.94
10861  2012-12-18 23:00:00       4        0           1        1  13.94
10862  2012-12-19 00:00:00       4        0           1        1  12.30
10863  2012-12-19 01:00:00       4        0           1        1  12.30
10864  2012-12-19 02:00:00       4        0           1        1  11.48
10865  2012-12-19 03:00:00       4        0           1        1  10.66
10866  2012-12-19 04:00:00       4        0           1        1   9.84
10867  2012-12-19 05:00:00       4        0           1        1  10.66
10868  2012-12-19 06:00:00       4        0           1        1   9.84
10869  2012-12-19 07:00:00       4        0           1        1  10.66
10870  2012-12-19 08:00:00       4        0           1        1   9.84
10871  2012-12-19 09:00:00       4        0           1        1  11.48
10872  2012-12-19 10:00:00       4        0           1        1  13.12
10873  2012-12-19 11:00:00       4        0           1        1  16.40
10874  2012-12-19 12:00:00       4        0           1        1  16.40
10875  2012-12-19 13:00:00       4        0           1        1  17.22
10876  2012-12-19 14:00:00       4        0           1        1  17.22
10877  2012-12-19 15:00:00       4        0           1        1  17.22
10878  2012-12-19 16:00:00       4        0           1        1  17.22
10879  2012-12-19 17:00:00       4        0           1        1  16.40
10880  2012-12-19 18:00:00       4        0           1        1  15.58
10881  2012-12-19 19:00:00       4        0           1        1  15.58
10882  2012-12-19 20:00:00       4        0           1        1  14.76
10883  2012-12-19 21:00:00       4        0           1        1  13.94
10884  2012-12-19 22:00:00       4        0           1        1  13.94
10885  2012-12-19 23:00:00       4        0           1        1  13.12

        atemp  humidity  windspeed  casual  registered  count
0      14.395        81     0.0000       3          13     16
1      13.635        80     0.0000       8          32     40
2      13.635        80     0.0000       5          27     32
3      14.395        75     0.0000       3          10     13
4      14.395        75     0.0000       0           1      1
5      12.880        75     6.0032       0           1      1
6      13.635        80     0.0000       2           0      2
7      12.880        86     0.0000       1           2      3
8      14.395        75     0.0000       1           7      8
9      17.425        76     0.0000       8           6     14
10     19.695        76    16.9979      12          24     36
11     16.665        81    19.0012      26          30     56
12     21.210        77    19.0012      29          55     84
13     22.725        72    19.9995      47          47     94
14     22.725        72    19.0012      35          71    106
15     21.970        77    19.9995      40          70    110
16     21.210        82    19.9995      41          52     93
17     21.970        82    19.0012      15          52     67
18     21.210        88    16.9979       9          26     35
19     21.210        88    16.9979       6          31     37
20     20.455        87    16.9979      11          25     36
21     20.455        87    12.9980       3          31     34
22     20.455        94    15.0013      11          17     28
23     22.725        88    19.9995      15          24     39
24     22.725        88    19.9995       4          13     17
25     21.970        94    16.9979       1          16     17
26     21.210       100    19.0012       1           8      9
27     22.725        94    12.9980       2           4      6
28     22.725        94    12.9980       2           1      3
29     21.210        77    19.9995       0           2      2
...       ...       ...        ...     ...         ...    ...
10856  19.695        46    22.0028      13         512    525
10857  19.695        46    26.0027      19         334    353
10858  16.665        50    16.9979       4         264    268
10859  17.425        50    15.0013       9         159    168
10860  16.665        49     0.0000       5         127    132
10861  17.425        49     6.0032       1          80     81
10862  15.910        61     0.0000       6          35     41
10863  15.910        65     6.0032       1          14     15
10864  15.150        65     6.0032       1           2      3
10865  13.635        75     8.9981       0           5      5
10866  12.120        75     8.9981       1           6      7
10867  14.395        75     6.0032       2          29     31
10868  12.880        75     6.0032       3         109    112
10869  13.635        75     8.9981       3         360    363
10870  12.880        87     7.0015      13         665    678
10871  14.395        75     7.0015       8         309    317
10872  16.665        70     7.0015      17         147    164
10873  20.455        54    15.0013      31         169    200
10874  20.455        54    19.0012      33         203    236
10875  21.210        50    12.9980      30         183    213
10876  21.210        50    12.9980      33         185    218
10877  21.210        50    19.0012      28         209    237
10878  21.210        50    23.9994      37         297    334
10879  20.455        50    26.0027      26         536    562
10880  19.695        50    23.9994      23         546    569
10881  19.695        50    26.0027       7         329    336
10882  17.425        57    15.0013      10         231    241
10883  15.910        61    15.0013       4         164    168
10884  17.425        61     6.0032      12         117    129
10885  16.665        66     8.9981       4          84     88

[10886 rows x 12 columns]>

In [3]:
train = pd.read_csv("train.csv", parse_dates=["datetime"])

print(train.shape)
train.head()

(10886, 12)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [3]:
test = pd.read_csv("data/test.csv", parse_dates=["datetime"])

print(test.shape)
test.head()

(6493, 9)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed
0,2011-01-20 00:00:00,1,0,1,1,10.66,11.365,56,26.0027
1,2011-01-20 01:00:00,1,0,1,1,10.66,13.635,56,0.0000
2,2011-01-20 02:00:00,1,0,1,1,10.66,13.635,56,0.0000
3,2011-01-20 03:00:00,1,0,1,1,10.66,12.880,56,11.0014
4,2011-01-20 04:00:00,1,0,1,1,10.66,12.880,56,11.0014

## Score

In [4]:
feature_names = ["season", "holiday", "workingday", "weather",
                 "temp", "atemp", "humidity", "windspeed"]

X_train = train[feature_names]

print(X_train.shape)
X_train.head()

(10886, 8)

   season  holiday  workingday  weather  temp   atemp  humidity  windspeed
0       1        0           0        1  9.84  14.395        81        0.0
1       1        0           0        1  9.02  13.635        80        0.0
2       1        0           0        1  9.02  13.635        80        0.0
3       1        0           0        1  9.84  14.395        75        0.0
4       1        0           0        1  9.84  14.395        75        0.0

In [5]:
X_test = test[feature_names]

print(X_test.shape)
X_test.head()

(6493, 8)

   season  holiday  workingday  weather   temp   atemp  humidity  windspeed
0       1        0           1        1  10.66  11.365        56    26.0027
1       1        0           1        1  10.66  13.635        56     0.0000
2       1        0           1        1  10.66  13.635        56     0.0000
3       1        0           1        1  10.66  12.880        56    11.0014
4       1        0           1        1  10.66  12.880        56    11.0014

In [9]:
label_name = "count"

y_train = train[label_name]

print(y_train.shape)
y_train.head(48
            )

(10886,)

0      16
1      40
2      32
3      13
4       1
5       1
6       2
7       3
8       8
9      14
10     36
11     56
12     84
13     94
14    106
15    110
16     93
17     67
18     35
19     37
Name: count, dtype: int64

In [13]:
# from sklearn.tree import DecisionTreeRegressor

# seed = 37

# model = DecisionTreeRegressor(random_state=seed)
# model

from sklearn.ensemble import RandomForestRegressor

seed = 37

model = RandomForestRegressor(random_state=seed)
model

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_split=1e-07, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           n_estimators=10, n_jobs=1, oob_score=False, random_state=37,
           verbose=0, warm_start=False)

** Score ** = Root Mean Squared Logarithmic Error, RMSLE.

$$ \sqrt{\frac{1}{n} \sum_{i=1}^n (\log(p_i + 1) - \log(a_i+1))^2 } $$

In [14]:
from sklearn.metrics import make_scorer
def rmsle(predict, actual):
    predict = np.array(predict)
    actual = np.array(actual)
    
    log_predict = np.log(predict + 1)
    log_actual = np.log(actual + 1)
    
    difference = log_predict - log_actual
    square_difference = difference ** 2
    mean_square_difference = square_difference.mean()
    
    score = np.sqrt(mean_square_difference)
    
    return score

print(rmsle([1, 2, 3], [1, 2, 3]))
print(rmsle([1, 2, 3], [2, 3, 4]))
print(rmsle([1, 2, 3], [1, 4, 9]))

rmsle_score = make_scorer(rmsle)
rmsle_score

0.0
0.314619332526
0.605676350101

make_scorer(rmsle)

In [15]:
from sklearn.cross_validation import cross_val_score

score = cross_val_score(model, X_train, y_train, cv=20, scoring=rmsle_score).mean()

print("Score = {0:.5f}".format(score))

Score = 1.39953

## Submit

In [10]:
model.fit(X_train, y_train)

predictions = model.predict(X_test)

print(predictions.shape)
predictions[:3]

(6493,)

array([69, 63, 63])

In [11]:
submission = pd.read_csv("sampleSubmission.csv")

submission["count"] = predictions

print(submission.shape)
submission.head()

(6493, 2)

              datetime  count
0  2011-01-20 00:00:00     69
1  2011-01-20 01:00:00     63
2  2011-01-20 02:00:00     63
3  2011-01-20 03:00:00     71
4  2011-01-20 04:00:00     71

In [12]:
from datetime import datetime

current_date = datetime.now()
current_date = current_date.strftime("%Y-%m-%d_%H-%M-%S")

description = "baseline-script"

filename = "{date}_{score:.5f}_{desc}.csv".format(date=current_date, score=score, desc=description)
filepath = "submissions/{filename}".format(filename=filename)

submission.to_csv(filepath, index=False)