In [1]:
import pandas as pd
import numpy as np

In [2]:
train = pd.read_csv("train.csv", parse_dates=["datetime"])
print(train.shape)
train.head(2)

(10886, 12)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40

In [3]:
train["weekday"] = train["datetime"].dt.dayofweek
train.datetime = train.datetime.apply(pd.to_datetime)

In [294]:
train['month'] = train.datetime.apply(lambda x : x.month)
train['hour'] = train.datetime.apply(lambda x : x.hour)
train.head(2)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,weekday,month,hour
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16,5,1,0
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40,5,1,1

In [278]:
train["month"] = train["datetime"].dt.month
train.head(2)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,weekday,month
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16,5,1
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40,5,1

In [279]:
feature_names = ['season', 'holiday', 'workingday', 'weather', 'temp',
       'atemp', 'humidity', 'windspeed', 'weekday', 'month']
X_train = train[feature_names]
print(X_train.shape)

(10886, 10)

In [280]:
train.columns

Index(['datetime', 'season', 'holiday', 'workingday', 'weather', 'temp',
       'atemp', 'humidity', 'windspeed', 'casual', 'registered', 'count',
       'weekday', 'month'],
      dtype='object')

In [281]:
table = pd.pivot_table(train, values='count', index=['season'],columns=['weather'], 
                       aggfunc=np.sum)
table

weather         1         2        3      4
season
1        223009.0   76406.0  12919.0  164.0
2        426350.0  134177.0  27755.0    NaN
3        470116.0  139386.0  31160.0    NaN
4        356588.0  157191.0  30255.0    NaN

In [282]:
test = pd.read_csv("test.csv", parse_dates=["datetime"])
test["weekday"] = test["datetime"].dt.dayofweek
test["month"] = test["datetime"].dt.month

test.head(10)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,weekday,month
0,2011-01-20 00:00:00,1,0,1,1,10.66,11.365,56,26.0027,3,1
1,2011-01-20 01:00:00,1,0,1,1,10.66,13.635,56,0.0000,3,1
2,2011-01-20 02:00:00,1,0,1,1,10.66,13.635,56,0.0000,3,1
3,2011-01-20 03:00:00,1,0,1,1,10.66,12.880,56,11.0014,3,1
4,2011-01-20 04:00:00,1,0,1,1,10.66,12.880,56,11.0014,3,1
5,2011-01-20 05:00:00,1,0,1,1,9.84,11.365,60,15.0013,3,1
6,2011-01-20 06:00:00,1,0,1,1,9.02,10.605,60,15.0013,3,1
7,2011-01-20 07:00:00,1,0,1,1,9.02,10.605,55,15.0013,3,1
8,2011-01-20 08:00:00,1,0,1,1,9.02,10.605,55,19.0012,3,1
9,2011-01-20 09:00:00,1,0,1,2,9.84,11.365,52,15.0013,3,1

In [283]:
test["datetime"].dt.dayofweek
test.head(2)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,weekday,month
0,2011-01-20 00:00:00,1,0,1,1,10.66,11.365,56,26.0027,3,1
1,2011-01-20 01:00:00,1,0,1,1,10.66,13.635,56,0.0000,3,1

In [284]:
print(test.shape)
test.head(3)

(6493, 11)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,weekday,month
0,2011-01-20 00:00:00,1,0,1,1,10.66,11.365,56,26.0027,3,1
1,2011-01-20 01:00:00,1,0,1,1,10.66,13.635,56,0.0000,3,1
2,2011-01-20 02:00:00,1,0,1,1,10.66,13.635,56,0.0000,3,1

In [285]:
X_test = test[feature_names]

In [286]:
y_train = train["count"]
print(y_train.shape)

(10886,)

In [287]:
# from sklearn.tree import DecisionTreeRegressor
# model= DecisionTreeRegressor(random_state=7)

from sklearn.ensemble import RandomForestRegressor
model= RandomForestRegressor(random_state=7)

model

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_split=1e-07, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           n_estimators=10, n_jobs=1, oob_score=False, random_state=7,
           verbose=0, warm_start=False)

In [288]:
model.fit(X_train, y_train)
predictions = model.predict(X_test)

In [289]:
submission = pd.read_csv("sampleSubmission.csv")
submission["count"] = predictions
print(submission.shape)
submission.head()

(6493, 2)

              datetime   count
0  2011-01-20 00:00:00  117.90
1  2011-01-20 01:00:00   65.20
2  2011-01-20 02:00:00   65.20
3  2011-01-20 03:00:00   81.35
4  2011-01-20 04:00:00   81.35

In [290]:
submission.to_csv("baseline-script.csv", index=False)

## Score

In [291]:
from sklearn.model_selection import cross_val_score
score = cross_val_score(model, X_train, y_train, cv = 10).mean()
print("Score = {0:.5f}".format(score))

Score = -0.44191

In [292]:
#cross_val_score?